# Được cấu hình tự động bởi Ansible
file_roots:
  base:
    - {{ salt_file_roots }}

pillar_roots:
  base:
    - {{ salt_pillar_roots }}

master_sign_pubkey: True
master_sign_key_name: {{ salt_master_sign_key_name }}

gitfs_update_interval: 60
git_pillar_update_interval: 60
